body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  color: rgb(255, 102, 0);
  font-family: "Fira Code", monospace;
}
h1 {
  margin-top: 15vh;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#input0 {
  height: 4vh;
  font-size: 1rem;
  width: 30vh;
  margin: 2.5vh 0 2.5vh;
  text-align: center;
}
#input0:focus {
  border: 0;
  outline: 0;
}
select {
  width: 10vh;
  height: 3vh;
  margin: 0 2vh;
}
div img {
  width: 15vh;
  height: 15vh;
}
button {
  width: 10vh;
  height: 3vh;
}
#selects {
  display: flex;
  align-items: center;
  padding-top: 5vh;
}
.btns {
  background-color: rgb(255, 102, 0);
  margin-top: 2vh;
  height: 4vh;
  width: 12vh;
  font-size: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  border-radius: 50px;
}
.btns:hover {
  cursor: pointer;
}
a {
  text-decoration: none;
  color: black;
}
